<h1>OSGi Configuration Service</h1>
<sly data-sly-use.osgiconfig="com.ugams.core.models.OSGiConfigModel"></sly>
   <div>
       <p> Service Name : <strong>${osgiconfig.serviceName}</strong></p>
   </div>
   <div>
       <p> Service ID : <strong>${osgiconfig.serviceID}</strong></p>
   </div>
   <div>
       <p> Service : <strong>${osgiconfig.isService}</strong></p>
   </div>
   <div>
       <p> Run Mode : <strong>${osgiconfig.runModes}</strong></p>
   </div>
   <div><strong>Service Countries</strong>
   </div>
   <ul data-sly-list="${osgiconfig.countries}">
      <li>${item}</li>
   </ul>