<h1>showhide-dropdown</h1>
    <pre data-sly-test="${properties.type == 'number' && properties.pnumber}">Phone Number: ${properties.pnumber}</pre>
    <pre data-sly-test="${properties.type == 'address' && properties.street}">Street: ${properties.street}</pre>
    <pre data-sly-test="${properties.type == 'address' && properties.city}">City: ${properties.city}</pre>
    <pre data-sly-test="${properties.type == 'address' && properties.state}">State: ${properties.state}</pre>
    <pre data-sly-test="${properties.type == 'gender' && properties.gender}">Gender: ${properties.gender}</pre>
    <pre data-sly-test="${properties.type == 'languages' && properties.english}">Language: ${properties.english}</pre>
    <pre data-sly-test="${properties.type == 'languages' && properties.marathi}">Language: ${properties.marathi}</pre>
    <pre data-sly-test="${properties.type == 'languages' && properties.hindi}">Language: ${properties.hindi}</pre>
