

<header id="header">
            <div class="container main-menu" >
                <div class="row align-items-center justify-content-between d-flex">
                  <div id="logo">
                      <a href="${properties.home}.html"><sly data-sly-resource="${'logo' @ resourceType='/apps/ugams/components/image'}"></sly></a>
                  </div>
                  <sly data-sly-resource="${'navigation' @ resourceType='/apps/ugams/components/navigation'}"></sly>               
                </div>
            </div>
          </header>
