

<section class="section-gap p-0 ">
                <div class="container bg-white" data-sly-use.testimonial="com.Ugams.core.models.Testimonial">    

                 <div class="row ">
                        <div class="active-testimonial">
                        <div class="single-testimonial item d-flex flex-row">
                                <div class="thumb">
                                    <img class="img-fluid" src="" alt="">
                                </div>
                                <div class="desc">                
                                    <p>
                                        ${testimonial.testimonialDescription}
                                    </p>
                                    <h4>${testimonial.testimonialName}</h4>
                                    <p>${testimonial.testimonialDesignation}</p>
                                </div>
                            </div>
                           </div>
                    </div>
                 </div>
         </section>


