<section class="portfolio-area section-gap col-lg-12 pt-4" id="portfolio">	
<div class="filters-content" data-sly-use.portfolio="com.Ugams.core.models.Portfolio">
            <div>
                <div class="single-portfolio all vector">
                            	<div class="relative p-3">
	                            	<div class="thumb">
	                            		<div class="overlay overlay-bg"></div>			
	                            		 <img class="image img-fluid" src="${portfolio.img}" alt="">
	                            	</div>
									<a href="${portfolio.img}" class="img-pop-up">	
									  <div class="middle">
									    <div class="text align-self-center d-flex"><img src="" alt=""></div>
									  </div>
								</a>                              		
                            	</div>
								<div class="p-inner">
								    <h4>${Portfolio.portfolioTitle}</h4>
									<div class="cat">${Portfolio.portfolioText}</div>
								</div>					                               
                            </div>
                             </div>

                </div>
            </section>