
<sly data-sly-use.bannerarea="com.Ugams.core.models.BannerArea"></sly>
<section class="banner-area">								
				<div class="container">
					<div class="row fullscreen align-items-center justify-content-between">
						<div class="col-lg-6 col-md-6 banner-left">
  						  <h6>${bannerarea.bannerAreaTitle}</h6>
							<h1>${bannerarea.bannerAreaHeading}</h1>
							<p>
								${bannerarea.bannerAreaDescription}
							</p>
							<a href="${bannerarea.pathValue @ extension = 'html'}" class="primary-btn text-uppercase">${bannerarea.bannerAreaButtonTitle}</a>
						</div>
						<div class="col-lg-6 col-md-6 banner-right d-flex align-self-end">
							<img class="img-fluid" src="${bannerarea.img}" alt="">
						</div>
					</div>
				</div>					
			</section>